# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
STEP400_firmware/__vm/Upload.vmps.xml
STEP400_firmware/__vm/Configuration.Release.vmps.xml
STEP400_firmware/__vm/Compile.vmps.xml
STEP400_firmware/__vm/.STEP400_firmware.vsarduino.h
STEP400_firmware/STEP400_firmware.vcxproj.user
STEP400_firmware/STEP400_firmware.vcxproj.filters
STEP400_firmware/STEP400_firmware.vcxproj
STEP400_firmware/STEP400_firmware.sln
STEP400_firmware/Release/board.buildinfo
*.map
*.hex
*.elf
*.bin

*.db
*.suo
*.db-shm
*.db-wal
*.opendb
*.ipch
