# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
STEP400_firmware/__vm/Upload.vmps.xml
STEP400_firmware/__vm/Configuration.Release.vmps.xml
STEP400_firmware/__vm/Compile.vmps.xml
STEP400_firmware/__vm/.STEP400_firmware.vsarduino.h
STEP400_firmware/STEP400_firmware.vcxproj.user
STEP400_firmware/STEP400_firmware.vcxproj.filters
STEP400_firmware/STEP400_firmware.vcxproj
STEP400_firmware/STEP400_firmware.sln
STEP400_firmware/Release/board.buildinfo
STEP400_firmware/Release/STEP400_firmware.with_bootloader.hex
STEP400_firmware/Release/STEP400_firmware.map
STEP400_firmware/Release/STEP400_firmware.ino.with_bootloader.hex
STEP400_firmware/Release/STEP400_firmware.ino.map
STEP400_firmware/Release/STEP400_firmware.ino.hex
STEP400_firmware/Release/STEP400_firmware.ino.elf
STEP400_firmware/Release/STEP400_firmware.ino.bin
STEP400_firmware/Release/STEP400_firmware.hex
STEP400_firmware/Release/STEP400_firmware.elf
STEP400_firmware/Release/STEP400_firmware.bin
STEP400_firmware/.vs/STEP400_firmware/v16/ipch/AutoPCH/c4df43f8810cf13b/STEP400_FIRMWARE.ipch
STEP400_firmware/.vs/STEP400_firmware/v16/ipch/AutoPCH/608a0ff4952e7671/.STEP400_FIRMWARE.VSARDUINO.ipch
STEP400_firmware/.vs/STEP400_firmware/v16/Browse.VC.db
STEP400_firmware/.vs/STEP400_firmware/v16/.suo
